.list-group{
    display: none;
}

.show{
    display: block;
}

.show-modal{
    display: block;
}

.container{
    background-color: white;
    display: none;
    position: fixed;
    z-index: 5;
}

.btn-2{
    background-color: red;
    width: 70px;
    height: 35px;
    border-style: none;
    color: white;
    border-radius: 5px;
}