.alert-box{
    background-color: skyblue;
    padding: 20px;
    margin: 0;
    display: none;
}

.example{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 0;
    display: none;
}

